In [8]:
import pandas as pd
import numpy as np
import random

In [2]:
#方法 1
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}

In [3]:
visitors_1 = pd.DataFrame(data)
print(visitors_1)

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

In [4]:
#方法 2
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))

In [5]:
visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456

In [6]:
visitors_1.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

In [17]:
country=['Taiwan','United states','thailand']
population=[]
for i in range(3):
    x=random.randint(100000, 1000000000)
    population.append(x)
data = {'國家':country ,'人口': population}

In [18]:
data

{'國家': ['Taiwan', 'United states', 'thailand'],
 '人口': [15443853, 476290731, 802185000]}

In [19]:
df = pd.DataFrame(data)
df.head(10)

              國家         人口
0         Taiwan   15443853
1  United states  476290731
2       thailand  802185000